#newUserForm {
  position: fixed;
  padding: 2%;
  top: 125px;
  width: 85%;
  margin-left: 7.5%;
  display: inline-block;
  border-radius: 10px;
  background-color: white;
}
#logoContainer {
  margin-bottom: 3%;
}
#logoForLogin {
  width: 25%;
  display: inline-flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#welcomeLoginMessage {
  display: inline-block;
  width: 70%;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}
#welcome {
  margin: 0;
  font-size: calc(10px + 9vw);
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
#to {
  margin: 0;
  font-size: calc(10px + 4vw);
  line-height: 1;
}
#loginNavButtonContainer{
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
.loginNavButton{
  width: 40%;
  border: 4px solid #e65b11;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
}

